.confirm-cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -100;
    opacity: 0;
}

.confirm-cover--active {
    transition: opacity 0.3s;
    opacity: 1;
    z-index: 999;
}

.confirm {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80px;
    width: 300px;
    background-color: #fff;
    transform: translateX(-50%);
    border-radius: 5px;
    border-top: 10px solid var(--primary);
    padding: 15px;
}

.confirm-content {
    margin-bottom: 15px;
}

.confirm button {
    padding: 5px 10px;
}
