.container {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--white-primary);
}

.d-inline-block {
    display: inline-block !important;
}
.cursor {
    cursor: pointer;
}

.danger {
    color: var(--danger);
}

.success {
    color: var(--success);
}

.tpfield {
    height: 40px;
    width: 200px;
    border: 1px solid #e8e8e8;
    margin: 5px 0;
    padding: 5px;
}
