.container {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--white-primary);
}

.d-inline-block{
    display: inline-block !important;
}