:root {
    --primary: #448899;
    --primary-light: #65abbd;
    --text-primary: #666;
    --text-secondary: #757575;
    --white-primary: #fff;
    --white-secondary: #f8f8f8;
    --danger:rgb(146, 27, 27);
    --success:rgb(40, 189, 3);
}
