{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="../static/css/attraction.css" />
<section class="attractionDetail container">
    <div class="row">
        <div class="col-6 col-768-12">
            <div class="carousel" draggable="false">
                <img
                    src="../static/images/icon/btn_leftArrow.png"
                    alt=""
                    class="carousel-arrow carousel-arrow-left"
                    id="carousel-leftArrow"
                />
                <img
                    src="../static/images/icon/btn_rightArrow.png"
                    alt=""
                    class="carousel-arrow carousel-arrow-right"
                    id="carousel-rightArrow"
                />
                <p class="carousel-dots d-flex" id="carousel-dots"></p>
                <div class="carousel-imgs" id="carousel-imgs"></div>
            </div>
        </div>
        <div class="attractionDetail-book col-6 col-768-12">
            <input
                id="attractionId"
                type="text"
                hidden="false"
                name="attractionId"
                class="bookingData"
            />
            <h2 id="name">平安鐘</h2>
            <p id="subAddress">公共藝術 at 忠孝復興</p>
            <div class="attractionDetail-book-form">
                <h3 class="title">訂購導覽行程</h3>
                <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                <label for="">
                    <span class="title">選擇日期：</span>
                    <input
                        type="date"
                        name="date"
                        class="cursor bookingData"
                        style="height: 35px; padding-right: 5px"
                    />
                </label>
                <label for="" class="time-radio-wrap">
                    <span class="title">選擇時間：</span>
                    <label
                        class="d-flex align-items-center"
                        style="margin: 0 16px"
                    >
                        <input
                            type="radio"
                            name="time"
                            value="morning"
                            checked="true"
                            class="time-radio bookingData"
                            id="morning"
                        />
                        <label for="morning" class="time-radio-replace"></label>
                        <span class="cursor"> 上半天 </span>
                    </label>
                    <label class="d-flex align-items-center time-radio-wrap">
                        <input
                            type="radio"
                            name="time"
                            value="afternoon"
                            class="time-radio bookingData"
                            id="afternoon"
                        />
                        <label
                            for="afternoon"
                            class="time-radio-replace"
                        ></label>
                        <span class="cursor"> 下半天 </span>
                    </label>
                </label>
                <p>
                    <span class="title">導覽費用：</span>
                    新台幣
                    <span class="bookingData" id="cost"> 2000 </span>元
                </p>
                <button class="btn-primary" id="booking-btn">
                    開始預訂行程
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="attractionDetail-content">
                <p id="description">loading...</p>
                <h3>景點地址：</h3>
                <p id="address">loading...</p>
                <h3>交通方式：</h3>
                <p id="transport">loading...</p>
            </div>
        </div>
    </div>
</section>
<script>
    let model = {
        name: '',
        description: '',
        address: '',
        transport: '',
        images: '',
        carouselFlag: false,
        dotIndex: 0,
        timerId: null,
        bookingData: {
            attractionId: '',
            date: '',
            time: '',
            price: '',
        },
        getAttractionDataHandler() {
            let urlArr = document.location.pathname.split('/')
            let id = urlArr[urlArr.length - 1]
            return new Promise((resolve, reject) => {
                $ajax
                    .get(`/api/attraction/${id}`)
                    .then((res) => {
                        resolve(res)
                    })
                    .catch((err) => {
                        reject(wee)
                    })
            })
        },
    }
    let views = {
        renderData() {
            $('#carousel-imgs').style('left:-100%')
            let promiseData = model.getAttractionDataHandler()
            promiseData
                .then((res) => {
                    model.name = res.data.name
                    model.description = res.data.description
                    model.address = res.data.address
                    model.transport = res.data.transport
                    model.images = JSON.parse(res.data.images)
                    model.attractionId = res.data.id
                    $('#attractionId').val(model.attractionId)
                    $('#name').html(model.name)
                    $('#subAddress').html(model.address)
                    $('#description').html(model.description)
                    $('#address').html(model.address)
                    $('#transport').html(model.transport)
                    let imgStr = ''
                    let dotsStr = ''
                    model.images.forEach((src, i) => {
                        imgStr = `${imgStr} <img src="${src}" alt="" draggable="false"/>`
                        if (i === 0) {
                            dotsStr += `<span class="carousel-dot--active"></span>`
                        } else {
                            dotsStr += `<span></span>`
                        }
                    })
                    imgStr = `
                        <img src="${
                            model.images[model.images.length - 1]
                        }" alt="" />
                        ${imgStr}
                        <img src="${model.images[0]}" alt="" />
                        `
                    $('#carousel-imgs').html(imgStr)
                    $('#carousel-dots').html(dotsStr)
                })
                .catch((err) => {
                    $log(err)
                    $('#description').html('查無資料')
                    $('#address').html('查無資料')
                    $('#transport').html('查無資料')
                })
        },
        renderChangeTime() {
            $('[name=time]').each(function (dom) {
                dom.checked === true &&
                    dom.value === 'afternoon' &&
                    $('#cost').html(2500)
                dom.checked === true &&
                    dom.value === 'morning' &&
                    $('#cost').html(2000)
            })
        },
    }

    let controller = {
        initHandler() {
            let that = this

            // dom初始化後
            document.addEventListener('DOMContentLoaded', function () {
                $log('dom Ok')
                $('[name=time]').on('click', views.renderChangeTime)
                $('#carousel-leftArrow').on('click', () =>
                    that.imgHandler('pre')
                )
                $('#carousel-rightArrow').on('click', () =>
                    that.imgHandler('next')
                )
                $('#carousel-imgs').on('mousedown', that.mouseDownHandler)
                $('#carousel-imgs').on(
                    'webkitTransitionEnd',
                    that.animatedHandler
                )
                $('#booking-btn').on('click', () => {
                    let hasSession = /session/gi.test(
                        decodeURIComponent(document.cookie)
                    )
                    let hasErr = false
                    if (hasSession) {
                        $('.bookingData').each((dom) => {
                            if (dom.type === 'radio' && dom.checked == false)
                                return
                            if (!dom.name) {
                                model.bookingData['price'] =
                                    dom.innerText.replace(/\s/g, '')
                                return
                            }
                            if (!dom.value) {
                                dom.style.border = '1px solid rgb(146, 27, 27)'
                                hasErr = true
                            } else {
                                dom.style.border = '1px solid #757575'
                            }

                            model.bookingData[dom.name] = dom.value
                        })
                        if (hasErr) return

                        fetch('/api/booking', {
                            method: 'post',
                            body: JSON.stringify(model.bookingData), // must match 'Content-Type'
                            headers: new Headers({
                                'Content-Type': 'application/json',
                            }),
                        })
                            .then((res) => res.json())
                            .then((res) => {
                                if (res.ok) {
                                    location.href = '/booking'
                                    return
                                }
                                $('.confirm-cover').add('confirm-cover--active')
                                $('.confirm-content').html(res.message)
                                $('#confirm-sure').on('click', () => {
                                    fetch('/api/booking', {
                                        method: 'patch',
                                        body: JSON.stringify(model.bookingData), // must match 'Content-Type'
                                        headers: new Headers({
                                            'Content-Type': 'application/json',
                                        }),
                                    })
                                        .then((res) => res.json())
                                        .then((res) => {
                                            if (res.ok) {
                                                location.href = '/booking'
                                                return
                                            }
                                            $('.confirm-cover').remove(
                                                'confirm-cover--active'
                                            )
                                            $('.confirm-cover').add(
                                                'confirm-cover--active'
                                            )
                                            $('.confirm-content').html(
                                                res.message
                                            )
                                        })
                                        .catch((err) => {
                                            console.log(err)
                                        })
                                })
                            })
                            .catch((err) => {
                                console.log(err)
                            })
                        return
                    }
                    $('.alert').add('alert--active')
                })
            })
            // 網頁的全部內容，包括圖片，CSS及<iframe> 初始化後
            window.onload = function () {
                $log('all Ok')
                views.renderData()
                model.timerId = setInterval(() => {
                    that.imgHandler('next')
                }, 3000)
            }

            window.onbeforeunload = function () {
                window.scrollTo(0, 0)
            }
        },
        imgHandler(str) {
            if (model.carouselFlag) return
            clearInterval(model.timerId)
            model.carouselFlag = true
            let left = $('#carousel-imgs')[0].style.left.split('%')[0]
            let length = $('#carousel-imgs img').length
            if (str === 'next') {
                left = (Number(left) - 100) % (100 * length)
            } else {
                left =
                    Number(left) + 100 > 0
                        ? -(100 * (length - 1))
                        : Number(left) + 100
            }
            $('#carousel-imgs').style(`left:${left}%`)
        },
        animatedHandler() {
            clearInterval(model.timerId)
            model.carouselFlag = false
            let left = $('#carousel-imgs')[0].style.left.split('%')[0]
            let length = $('#carousel-imgs img').length
            model.dotIndex = Math.abs((Number(left) + 100) / 100)
            if (Number(left) % (100 * (length - 1)) == 0) {
                $('#carousel-imgs').style('transition:none')
                $('#carousel-imgs').style(`left:-100%`)
                model.dotIndex = 0
            }
            if (Number(left) + 100 > 0) {
                $('#carousel-imgs').style('transition:none')
                $('#carousel-imgs').style(`left:-${100 * (length - 2)}%`)
                model.dotIndex = length - 3
            }
            $('#carousel-dots span').each(function (dom, i) {
                dom.className = ''
                if (i === model.dotIndex) {
                    dom.className = 'carousel-dot--active'
                }
            })
            setTimeout(() => {
                $('#carousel-imgs').style('transition:all 1s')
            })
            model.timerId = setInterval(() => {
                controller.imgHandler('next')
            }, 2000)
        },
        mouseDownHandler(e) {
            if (model.carouselFlag) return
            clearInterval(model.timerId)
            e.stopPropagation()
            e.preventDefault()
            let startX = e.pageX
            $('#carousel-imgs').style('transition:0s')
            let mousemove = function (e) {
                e.stopPropagation()
                let x = e.pageX - startX
                $('#carousel-imgs').style(`transform:translateX(${x}px)`)
            }
            let mouseup = function (e) {
                e.stopPropagation()
                if (e.pageX - startX > 0) {
                    controller.imgHandler('pre')
                }
                if (e.pageX - startX < 0) {
                    controller.imgHandler('next')
                } else {
                    model.timerId = setInterval(() => {
                        controller.imgHandler('next')
                    }, 2000)
                }
                $('#carousel-imgs').style('transition:1s')
                $('#carousel-imgs').style(`transform:translateX(${0}px)`)
                document.removeEventListener('mouseup', mouseup)
                document.removeEventListener('mousemove', mousemove)
            }
            document.addEventListener('mousemove', mousemove)
            document.addEventListener('mouseup', mouseup)
            $('#carousel-imgs').on('mouseout', (e) => {
                e.stopPropagation()
                e.preventDefault()
                let startX = e.pageX
                if (e.pageX - startX > 100) {
                    that.imgHandler('pre')
                } else if (e.pageX - startX < -100) {
                    that.imgHandler('next')
                }

                $('#carousel-imgs').style('transition:1s')
                $('#carousel-imgs').style(`transform:translateX(${0}px)`)
                document.removeEventListener('mouseup', mouseup)
                document.removeEventListener('mousemove', mousemove)
            })
        },
    }

    ;(() => {
        controller.initHandler()
    })()
</script>
{% endblock %}
