<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../static/css/reset.css" />
        <link rel="stylesheet" href="../static/css/utility.css" />
        <link rel="stylesheet" href="../static/css/variable.css" />
        <link rel="stylesheet" href="../static/css/base.css" />
        <link rel="stylesheet" href="../static/css/header.css" />
        <link rel="stylesheet" href="../static/css/banner.css" />
        <link rel="stylesheet" href="../static/css/footer.css" />
        <link rel="stylesheet" href="../static/css/alert.css" />
        <link rel="stylesheet" href="../static/css/confirm.css" />
        <link rel="stylesheet" href="../static/css/grid-system.css" />
        <script src="../static/js/ilibrary.js"></script>
    </head>
    <body>
        <div class="confirm-cover">
            <div class="confirm">
                <div class="confirm-content">無</div>
                <div>
                    <button class="btn btn-primary" id="confirm-sure">
                        確定
                    </button>
                    <button class="btn btn-primary" id="confirm-cancel">
                        取消
                    </button>
                </div>
            </div>
        </div>
        <div class="alert">
            <form class="alert-form" id="login">
                <h3>
                    登入會員帳號
                    <img
                        src="../static/images/icon/icon_close.png"
                        alt=""
                        id="alertClose"
                    />
                </h3>
                <input type="text" name="email" placeholder="輸入電子信箱" />
                <input type="password" name="password" placeholder="輸入密碼" />
                <button class="btn-primary">登入帳戶</button>
                <div id="LoginLogoutInfo"></div>
                <a href="javascript:;" id="changeForm">還沒有帳戶？點此註冊</a>
            </form>
        </div>
        <main class="home">
            <header class="header">
                <div
                    class="
                        container
                        d-flex
                        justify-content-between
                        align-items-center
                    "
                >
                    <h1>
                        <a href="/"> 台北一日遊 </a>
                    </h1>
                    <ul class="d-flex align-items-center">
                        <li>
                            <a href="javascript:;" id="booking">預定行程</a>
                        </li>
                        <li id="loginTxt" class="cursor">
                            <a href="javascript:;">登入/註冊</a>
                        </li>
                    </ul>
                </div>
            </header>
            {% block content %} {% endblock %}
        </main>
        <footer class="footer">COPYRIGHT © 2021 台北一日遊</footer>
    </body>
    <script>
        ;(() => {
            let model = {
                postData: {},
                postUrl: '/api/user',
                postMethod: 'POST',
            }
            let temp = {
                registerForm: ` <h3>
                    註冊會員帳號
                    <img
                        src="../static/images/icon/icon_close.png"
                        alt=""
                        id="alertClose"
                    />
                </h3>
                <input type="text" name="name" placeholder="輸入姓名" />
                <input type="text" name="email" placeholder="輸入電子信箱" />
                <input type="password" name="password" placeholder="輸入密碼" />
                <button class="btn-primary">登入帳戶</button>
                <div id="LoginLogoutInfo"></div>
                <a href="javascript:;" id="changeForm">已經有帳戶了？點此登入</a>`,
                loginForm: ` <h3>
                    登入會員帳號
                    <img
                        src="../static/images/icon/icon_close.png"
                        alt=""
                        id="alertClose"
                    />
                </h3>
                <input type="text" name="email"  placeholder="輸入電子信箱" />
                <input type="password" name="password" placeholder="輸入密碼" />
                <button class="btn-primary">登入帳戶</button>
                <div id="LoginLogoutInfo"></div>
                <a href="javascript:;" id="changeForm"
                    >還沒有帳戶？點此註冊</a
                >
            `,
            }
            // 事件綁定
            let controller = {
                initHandler() {
                    document.addEventListener('DOMContentLoaded', function () {
                        $ajax
                            .get('/api/user')
                            .then((res) => {
                                if (res.data) {
                                    $('#loginTxt').html('登出')
                                    let isLogin = true
                                    controller.eventBindHandler(isLogin)
                                    return
                                }
                                controller.eventBindHandler()
                            })
                            .catch((err) => {
                                console.log(err)
                            })
                        $('.alert-form').on('click', view.formRender)

                        $('#booking').on('click', controller.bookingHandler)
                    })
                },
                bookingHandler() {
                    let hasSession = /session/gi.test(
                        decodeURIComponent(document.cookie)
                    )
                    if (hasSession) {
                        location.href = '/booking'
                        return
                    }
                    $('.alert').add('alert--active')
                },
                eventBindHandler(isLogin = false) {
                    if (!isLogin) {
                        $('#loginTxt').on('click', () => {
                            $('.alert').add('alert--active')
                        })
                        $('#alertClose').on('click', () => {
                            $('.alert').remove('alert--active')
                        })
                        $('.alert-form button').on('click', (e) => {
                            e.preventDefault()
                            let isNullValue = false
                            $('.alert-form input').each(function (dom) {
                                model.postData[dom.name] = dom.value
                                if (!dom.value) {
                                    dom.style.border =
                                        '1px solid rgb(146, 27, 27)'
                                    isNullValue = true
                                } else {
                                    dom.style.border = '1px solid #757575'
                                }
                            })
                            if (isNullValue) {
                                $('#LoginLogoutInfo').html(`
                                    <small class="danger" style="margin-bottom:10px;display:inline-block">請輸入正確資訊</small>
                                    `)
                                return
                            }
                            fetch(model.postUrl, {
                                method: model.postMethod,
                                body: JSON.stringify(model.postData), // must match 'Content-Type'
                                headers: new Headers({
                                    'Content-Type': 'application/json',
                                }),
                            })
                                .then((res) => res.json())
                                .then((res) => {
                                    let isErr = res.error
                                    if (res.error) {
                                        $('#LoginLogoutInfo').html(`
                                    <small class="danger" style="margin-bottom:10px;display:inline-block">${res.message}</small>
                                    `)
                                        if (res.message === '信箱重複') {
                                            $('input[name="email"]').style(
                                                'border:1px solid rgb(146, 27, 27)'
                                            )
                                        }
                                        return
                                    }
                                    $('#LoginLogoutInfo').html(`
                                    <small class="success"  style="margin-bottom:10px;display:inline-block">${
                                        model.postMethod === 'POST'
                                            ? '登入成功'
                                            : '註冊成功'
                                    }</small>
                                    `)
                                    if (model.postMethod === 'POST') {
                                        window.location.reload()
                                    }
                                    $('.alert-form input').each(function (dom) {
                                        dom.value = ''
                                        model.postData[dom.name] = dom.value
                                        dom.style.border = '1px solid  #757575'
                                    })
                                })
                                .catch((err) => {
                                    console.log(err)
                                    window.location.reload()
                                })
                        })
                        return
                    }
                    $('#confirm-cancel').on('click', () => {
                        $('.confirm-cover').remove('confirm-cover--active')
                    })

                    $('.confirm-cover').on('click', () => {
                        $('.confirm-cover').remove('confirm-cover--active')
                    })
                    $('#loginTxt').on('click', () => {
                        fetch(model.postUrl, {
                            method: 'DELETE',
                            body: JSON.stringify(model.postData), // must match 'Content-Type'
                            headers: new Headers({
                                'Content-Type': 'application/json',
                            }),
                        })
                            .then((res) => res.json())
                            .then((res) => {
                                if (res) {
                                    window.location.reload()
                                }
                            })
                            .catch((err) => {
                                console.log(err)
                            })
                    })
                },
            }

            // 註冊登入form

            let view = {
                headerRender() {},
                formContentRender(isErr) {
                    if (isErr) {
                        $('#LoginLogoutInfo').html(`
                                    <small class="danger" style="margin-bottom:10px;display:inline-block">${res.message}</small>
                                    `)
                        return
                    }
                    $('#LoginLogoutInfo').html(`
                                    <small class="success"  style="margin-bottom:10px;display:inline-block">${
                                        model.postMethod === 'POST'
                                            ? '登入成功'
                                            : '註冊成功'
                                    }</small>
                                    `)
                    if (model.postMethod === 'POST') {
                        window.location.reload()
                    }
                    $('.alert-form input').each(function (dom) {
                        dom.value = ''
                        model.postData[dom.name] = dom.value
                        dom.style.border = '1px solid  #757575'
                    })
                },
                formRender(e) {
                    if (e.target.id === 'changeForm') {
                        if (this.id === 'login') {
                            this.innerHTML = temp.registerForm
                            this.id = 'register'
                            model.postMethod = 'PATCH'
                            controller.eventBindHandler()
                            return
                        }
                        this.innerHTML = temp.loginForm
                        this.id = 'login'
                        model.postMethod = 'POST'
                        controller.eventBindHandler()
                    }
                },
            }

            controller.initHandler()
        })()
    </script>
</html>
