{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="../static/css/home.css" />
<section class="banner">
    <div class="container">
        <h3>輕鬆享受台北一日悠閒</h3>
        <p>探索每個角落，體驗城市的深度旅遊行程</p>
        <label class="banner-search d-flex" for="">
            <input
                type="text"
                placeholder="輸入景點名稱查詢"
                id="searchAttInput"
            />
            <button class="banner-search-iconBox flex-center" id="searchBtn">
                <img src="../static/images/icon/icon_search.png" alt="" />
            </button>
        </label>
    </div>
</section>
<section class="attractions container">
    <ul class="attractions-list d-flex">
        <!-- <li class="attractions-list-card">
                        <img src="../static/images/Picture.png" alt="" />
                        <p>平安鐘</p>
                        <div class="d-flex justify-content-between">
                            <span>忠孝復興</span>
                            <span>公共藝術</span>
                        </div>
                    </li> -->
    </ul>
</section>
<script>
    // template
    let template = {
        attractionsCardTemp(
            name = '無資訊',
            mrt = '無資訊',
            category = '無資訊',
            imgUrl = '無資訊',
            id = '0'
        ) {
            return `
                    <li class="attractions-list-card">
                        <a href="/attraction/${id}">
                        <img src="${imgUrl}" alt="找不到圖片" onerror="this.src='https://www.smartm.com.tw/data/Images/7f/ee/58/d0/8bb3085e880ac04dbe23c27.jpg?v=1590940810.jpg'" />
                        <p>${name}</p>
                        <div class="d-flex justify-content-between">
                            <span>${(mrt === 'None') | !mrt ? '無' : mrt}</span>
                            <span>${category.replace(/\s*/g, '')}</span>
                        </div>
                        </a>
                    </li>
                    `
        },
    }
    // template
    // views
    let views = {
        renderData(keyword = '', reset = false) {
            model.scrollFlag = true
            let that = this
            if (model.page === null) return
            reset
                ? $('.attractions-list').html(
                      '<li  class="attractions-list--resetLoading" id="loading">loading...</li>'
                  )
                : $('#loading')
                ? ''
                : $('.attractions-list').append(
                      '<li class="attractions-list--loading" id="loading">loading...</li>'
                  )
            let promiseResult = model.getAttractionsDataHandler(
                model.page,
                keyword
            )
            promiseResult
                .then((res) => {
                    model.page = res.data.page
                    if (!res.data.data.length || !res.data.data) {
                        // $log(res)
                        $('.attractions-list').html(
                            '<li class="attractions-list--empty">找不到資料...</li>'
                        )
                        return
                    }
                    $('#loading').removeChild()
                    res.data.data.forEach((item) => {
                        let { name, mrt, category, images, id } = item

                        if (!reset || !keyword) {
                            $('.attractions-list').append(
                                template.attractionsCardTemp(
                                    name,
                                    mrt,
                                    category,
                                    JSON.parse(images)[0],
                                    id
                                )
                            )
                        }
                        if (reset) {
                            let str = ''
                            str = res.data.data.reduce((pre, cur) => {
                                return (
                                    pre +
                                    template.attractionsCardTemp(
                                        cur.name,
                                        cur.mrt,
                                        cur.category,
                                        JSON.parse(cur.images)[0],
                                        cur.id
                                    )
                                )
                            }, '')
                            $('.attractions-list').html(str)
                        }
                    })
                    if (res.data.page) {
                        model.scrollFlag = false
                    }
                })
                .catch((err) => {
                    $log(err)
                    model.scrollFlag = false
                })
        },
    }
    // model
    let model = {
        page: 0,
        keyword: '',
        scrollFlag: false,
        getAttractionsDataHandler(page, keyword) {
            return new Promise((resolve, reject) => {
                $ajax
                    .get(`/api/attractions?page=${page}&keyword=${keyword}`)
                    .then((res) => {
                        resolve(res)
                    })
                    .catch((err) => {
                        reject(err)
                    })
            })
        },
    }
    // controller
    let controller = {
        scrollToBottomGetDataHandler(minusHeight = 100) {
            // 觸發條件
            // rooMargin 正數增加範圍 負數縮小範圍
            // threshold 0 碰到元素上面與下面觸發 1碰到元素下面觸發 包含(rootMargin)
            const options = {
                rootMargin: `${minusHeight}px 0px 0px 0px`,
                threshold: 0,
            }
            // 觸發後要做的事情
            const callback = (entries, observer) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        // $log(entry) //查看一下能拿到的object
                        if (model.scrollFlag == true) return
                        views.renderData(model.keyword)
                    }
                })
            }
            // NEW出IntersectionObserver實體
            let observer = new IntersectionObserver(callback, options)
            // 要監聽的元素
            const footer = document.querySelector('footer')
            // 監聽
            observer.observe(footer)
        },
        initHandler() {
            let that = this

            // dom初始化後
            document.addEventListener('DOMContentLoaded', function () {
                $('#searchBtn').on('click', () => {
                    model.page = 0
                    model.keyword = $('#searchAttInput').val()
                    views.renderData(model.keyword, true)
                })
            })
            // 網頁的全部內容，包括圖片，CSS及<iframe> 初始化後
            window.onload = function () {
                // $log('all Ok')
                views.renderData()
                that.scrollToBottomGetDataHandler()
            }
            // 跳轉或是關閉前
            window.onbeforeunload = function () {
                window.scrollTo(0, 0)
            }
        },
    }
    ;(() => {
        controller.initHandler()
    })()
</script>
{% endblock %}
